# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Local secrets / env
infra/docker/.env.dev

# Logs
*.log

# Node
node_modules/

# Java build
.gradle/
build/
out/

# Python
__pycache__/
*.pyc

# Docker
*.pid