---
// Integrations component
---

<section class="py-20 bg-white">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-16">
      <h2 class="text-4xl font-bold text-gray-900 mb-4">Seamlessly connect with tools you love</h2>
      <p class="text-xl text-gray-600">
        Integrate with your existing workflow and favorite applications
      </p>
    </div>

    <div class="bg-gray-50 rounded-2xl p-12">
      <div class="grid grid-cols-2 md:grid-cols-5 gap-8 items-center opacity-60 hover:opacity-80 transition-opacity">
        <div class="flex justify-center">
          <img class="h-12 w-auto grayscale hover:grayscale-0 transition-all" src="https://storage.googleapis.com/uxpilot-auth.appspot.com/b3dd12880e-15e9df500569aae35928.png" alt="Google logo">
        </div>
        <div class="flex justify-center">
          <img class="h-12 w-auto grayscale hover:grayscale-0 transition-all" src="https://storage.googleapis.com/uxpilot-auth.appspot.com/4942217d46-41b0c105abf7aaaf302c.png" alt="Slack logo">
        </div>
        <div class="flex justify-center">
          <img class="h-12 w-auto grayscale hover:grayscale-0 transition-all" src="https://storage.googleapis.com/uxpilot-auth.appspot.com/b1dae5bef7-47a1969ca5383a95ab53.png" alt="GitLab logo">
        </div>
        <div class="flex justify-center">
          <img class="h-12 w-auto grayscale hover:grayscale-0 transition-all" src="https://storage.googleapis.com/uxpilot-auth.appspot.com/7c0f1dfff6-f1c9c0042ffc92bc1fee.png" alt="Zoom logo">
        </div>
        <div class="flex justify-center">
          <img class="h-12 w-auto grayscale hover:grayscale-0 transition-all" src="https://storage.googleapis.com/uxpilot-auth.appspot.com/d49f27da61-4672c8d0465d9d2b9193.png" alt="Notion logo">
        </div>
      </div>
    </div>
  </div>
</section>
