server:
  port: ${PORT}
  forward-headers-strategy: framework

spring:
  application:
    name: identity-service

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      connection-timeout: 30000
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false
        jdbc.lob.non_contextual_creation: true
    open-in-view: false

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    validate-on-migrate: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: openid, profile, email
        provider:
          google:
            issuer-uri: https://accounts.google.com

# Logging JSON structured
logging:
  level:
    root: INFO
    org.springframework: INFO
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
    com.datn.identity: DEBUG
  pattern:
    console: '{"ts":"%d{yyyy-MM-dd''T''HH:mm:ss.SSSXXX}","level":"%p","logger":"%c{1}","thread":"%t","msg":"%replace(%m){\"([\\r\\n]+)\", " "}","context":"%X"}%n'

cors:
  allowed-origins: http://localhost:3000,http://localhost:3001
  allowed-methods: GET,POST,PUT,DELETE,OPTIONS,PATCH
  allowed-headers: "*"
  allow-credentials: true

uts:
  auth:
    web-url: http://localhost:3000
  cookie:
    domain: localhost         # prod: .unifiedteamspace.com
    secure: false             # prod: true
    access-ttl-seconds: 900
    refresh-enabled: false
    refresh-ttl-seconds: 2592000