# ===================== INFRA PORTS (block 41xxx) =====================
PG_PORT=41000
REDIS_PORT=41100

MINIO_API_PORT=41200
MINIO_CONSOLE_PORT=41201

OPENSEARCH_PORT=41300
OS_DASHBOARDS_PORT=41301

KAFKA_PORT=41400
PANDAPROXY_PORT=41401

MAILHOG_HTTP_PORT=41500
MAILHOG_SMTP_PORT=41501

# ===================== SECRETS / CREDS =====================
# Postgres
PG_USER=uts
PG_PASSWORD=uts_dev_pw
PG_DB=uts_dev

# MinIO
MINIO_ROOT_USER=miniokey
MINIO_ROOT_PASSWORD=miniopw123

# OpenSearch
OPENSEARCH_INITIAL_ADMIN_PASSWORD=opensearchDev!123