name: Docker Publish

on:
  push:
    branches: [ main ]
    paths:
      - 'services/**'
      - '.github/workflows/docker-publish.yml'
  pull_request:
    paths:
      - 'services/**'
  workflow_dispatch:

env:
  AWS_REGION: ap-southeast-1
  ECR_REGISTRY: 769089216395.dkr.ecr.ap-southeast-1.amazonaws.com

jobs:
  build-and-push:
    runs-on: ${{ fromJSON(vars.CI_RUNNER_JSON) }}

    # id-token: write required for OIDC to work
    permissions:
      contents: read
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        service: [gateway, identity, file, search, notify, billing]  # add/remove based on your services
    steps:
      - uses: actions/checkout@v4

      # Skip if the service folder does not exist
      - name: Check if service folder exists
        id: check
        run: |
          if [ -d "services/${{ matrix.service }}" ]; then
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "exists=false" >> $GITHUB_OUTPUT
          fi

      - name: Configure AWS (OIDC)
        if: steps.check.outputs.exists == 'true'
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}

      - name: Login to ECR
        if: steps.check.outputs.exists == 'true'
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up Docker Buildx
        if: steps.check.outputs.exists == 'true'
        uses: docker/setup-buildx-action@v3

      - name: Extract Docker metadata
        if: steps.check.outputs.exists == 'true'
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.ECR_REGISTRY }}/${{ matrix.service }}
          tags: |
            type=sha
            type=raw,value=dev,enable={{is_default_branch}}
          labels: |
            org.opencontainers.image.source=${{ github.repository }}
            org.opencontainers.image.revision=${{ github.sha }}

      - name: Build & Push
        if: steps.check.outputs.exists == 'true'
        uses: docker/build-push-action@v6
        with:
          context: services/${{ matrix.service }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max