services:
  prosody:
    image: jitsi/prosody:stable
    environment:
      XMPP_DOMAIN: meet.local
      XMPP_AUTH_DOMAIN: auth.meet.local
      XMPP_MUC_DOMAIN: muc.meet.local
      XMPP_INTERNAL_MUC_DOMAIN: internal-muc.meet.local
      ENABLE_AUTH: "1"
      AUTH_TYPE: jwt
      JWT_APP_SECRET: superlongrandomsecret123
      JWT_ACCEPTED_ISSUERS: meet-auth
      JWT_ACCEPTED_AUDIENCES: meet
      JICOFO_COMPONENT_SECRET: focussecret
      JICOFO_AUTH_USER: focus
      JICOFO_AUTH_PASSWORD: focuspass
      JVB_AUTH_USER: jvb
      JVB_AUTH_PASSWORD: jvbpass
    volumes:
      - ./config/prosody/data:/config/data
      - ./config/prosody/keys:/config/keys
      - ./config/certs:/config/certs:ro
    ports:
      - "40622:5222"
      - "40680:5280"
      - "40647:5347"
    networks: [ meetnet ]

  jicofo:
    image: jitsi/jicofo:stable
    environment:
      XMPP_SERVER: prosody
      XMPP_DOMAIN: meet.local
      XMPP_AUTH_DOMAIN: auth.meet.local
      XMPP_MUC_DOMAIN: muc.meet.local
      XMPP_INTERNAL_MUC_DOMAIN: internal-muc.meet.local
      JICOFO_BRIDGE_MUC: jvbbrewery@internal-muc.meet.local
      JICOFO_COMPONENT_SECRET: focussecret
      JICOFO_AUTH_USER: focus
      JICOFO_AUTH_PASSWORD: focuspass
    depends_on: [ prosody ]
    networks: [ meetnet ]

  jvb:
    image: jitsi/jvb:stable
    environment:
      XMPP_SERVER: prosody
      XMPP_DOMAIN: meet.local
      XMPP_AUTH_DOMAIN: auth.meet.local
      XMPP_MUC_DOMAIN: muc.meet.local
      XMPP_INTERNAL_MUC_DOMAIN: internal-muc.meet.local
      DOCKER_HOST_ADDRESS: "192.168.100.195" # IP LAN của máy Windows
      JVB_ADVERTISE_IPS: "192.168.100.195,1.53.114.54"
      JVB_AUTH_USER: jvb
      JVB_AUTH_PASSWORD: jvbpass
      JVB_BREWERY_MUC: jvbbrewery
      # Bật Colibri WS + expose đúng domain bạn truy cập:
      JVB_ENABLE_APIS: "rest,colibri"
      COLIBRI_REST_ENABLED: "true"
      COLIBRI_WS_ENABLED: "true"
      COLIBRI_WS_DOMAIN: "192.168.100.195"
      COLIBRI_WS_TLS: "false"
      # Nếu sau NAT, có thể cần:
      # TCP fallback (tùy nhu cầu):
      # JVB_ENABLE_TCP_HARVESTER: "true"
      # JVB_TCP_HARVESTER_PORT: "4443"
    depends_on: [ prosody ]
    ports:
      - "10000:10000/udp" # giữ nguyên 10000
      - "9090:9090" # Colibri WS
    networks: [ meetnet ]

  coturn:
    image: coturn/coturn:latest
    command: >
      --no-cli --realm=meet.local --use-auth-secret
      --static-auth-secret=turnsharedsecret 
      --min-port=49000 --max-port=50000 --fingerprint
    ports:
        - "3478:3478/udp"
        - "3478:3478/tcp"
        - "5349:5349/tcp"
    networks: [meetnet]

networks:
  meetnet:
    driver: bridge
